body {
  height: 100vh;
  background: url("../img/numbers2.jpg") center/cover no-repeat;
  color: white;
  font-family: sans-serif;
  line-height: 1.7;
  letter-spacing: 1.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px 150px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba($color-primary, 0.95);

  @media (max-width: 660px) {
    padding: 30px;
    text-align: center;
  }

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__input {
    font-size: 26px;
    padding: 10px 20px;
    color: black;
    outline: 1px solid lightblue;
    outline-offset: 2px;
    margin-top: 10px;

    @media (max-width: 440px) {
      padding: 0;
      width: 70%;
      margin: auto;
    }
  }

  &__btn {
    padding: 14px 25px;
    width: 40%;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: $color-primary-light;
      color: white;
    }
  }
}

.btns-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.result {
  margin-top: 50px;
  font-size: 28px;
  color: aliceblue;
  padding: 10px;
  border-bottom: 2px solid $color-primary-light;

  &__text {
    font-size: 18px;
  }

  &__number {
    color: $color-primary-light;
    text-align: center;
    margin: auto;
  }
}
